<%- include('../includes/fullHead'); %>
  <%- include('../order/orderDetail'); %>
  <form method="post" action="" class="mb-3">
    <div class="form-group">
      <label for="product">Product:</label>
      <select class="form-control" id="product" name="product">
        <% for(const product of products) { %>
          <option value=<%= product.id %>>
            <%= `${product.name} - ${product.currency}` %>
          </option>
        <% } %>
      </select>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity: </label>
      <input type="number" step="1" min="1" class="form-control" id="quantity" name="quantity" 
      value=<%= orderItem.quantity %>>
    </div>
    <button type="submit" class="btn btn-primary mt-3">
      <%= (orderItem.Product ? 'Update' : 'Add' ) %>
    </button>
  </form>
  <%- include('../order/orderTable'); %>
  <button type="button" class="btn btn-primary mt-3">
    <a class="nav-link active" aria-current="page" href=<%= order.urlPage %>>Finished</a>
  </button>
<%- include('../includes/footer'); %>