<%- include('../includes/fullHead'); %>

  <h3><strong>Form: </strong>
    <a href=<%= '/clients/create' %>>Add new Client</a>
  </h3>
  <hr>
 <% for(const clientObj of clients) { %>
  <h3><strong>Name: </strong>
    <a href=<%= clientObj.urlPage %>><%= clientObj.fullName %></a>
  </h3>
  <h3><strong>Email: </strong><%= clientObj.email %></h3>
  <%- include('./clientStatus', { clientObj: clientObj}); %>
  <% if (clientObj.Address) { %>
    <h3><strong>Address: </strong>
      <a href=<%= clientObj.Address.urlPage %>><%= clientObj.Address.completeAddress %></a>
    </h3>
  <% } %>
  <hr>
 <% } %>
<%- include('../includes/footer'); %>