<h3><strong>Client: </strong><a href=<%= address.Client.urlPage %>><%= address.Client.fullName %></a></h3>
<h3><strong>City: </strong><%= address.city %></h3>
<h3><strong>Address: </strong><%= address.street %></h3>
<h3><strong>Number: </strong><%= address.number %></h3>